* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container-big {
    max-width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
}

.navbar-col {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

ul > li {
    margin: 0 20px;
}

li > a {
    color: black;
    font-weight: 300;
}

.start {
    background-color: #0061FF;
}

.start-anchor {
    color: white;
}