* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

img {
    width: 100%;
}

/* header */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container-big {
    max-width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
}

.navbar-col {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

ul > li {
    margin: 0 20px;
}

li > a {
    color: black;
    font-weight: 300;
}

.start {
    background-color: #0061FF;
}

.start-anchor {
    color: white;
}

/* main */

/*hero*/

.hero {
    background-color: #B4D0E7;
    padding-top: 70px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 75px;
    font-weight: 900;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.main-title {
    margin-bottom: 50px;
}

.hero-paragraph {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.grow {
    flex-grow: 1;
}

.fa-solid {
    font-size: 45px;
    padding-bottom: 20px;
}

.grow > p {
    margin-bottom: 40px;
    line-height: 1.5em;
    font-weight: 300;
    font-size: 17px;
}

p > a {
    color: white;
}

.start-try {
    background-color: #0061FF;
}