* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

img {
    max-width: 100%;
}

/* header */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container-big {
    max-width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-col {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.logo {
    display: block;
}

li > a {
    color: black;
    font-weight: 300;
}

.navmenù-item > * {
    display: block;
    line-height: 2em;
    padding: 0 20px;
}



.start-anchor {
    color: white;
    background-color: #0061FF;
}

/* main */

/*hero*/

.hero {
    background-color: #B4D0E7;
    padding-top: 70px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 75px;
    font-weight: 900;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.main-title {
    margin-bottom: 50px;
}

.hero-paragraph {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.grow {
    flex-grow: 1;
}

.fa-solid {
    font-size: 45px;
    padding-bottom: 20px;
}

.grow > p {
    margin-bottom: 40px;
    line-height: 1.5em;
    font-weight: 300;
    font-size: 17px;
}

p > a {
    color: white;
}

.start-try {
    background-color: #0061FF;
    max-width: 200px;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}

.business-plan {
    padding-top: 100px;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 50px;
}

.radio-buttons {
    padding-bottom: 40px;
}

.businessplan-container {
    max-width: 90%;
    margin: 0 auto;
}

.col-4 > div {
    border: 1px solid black;
}